<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>

    <!-- MathJax -->
    <script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']],
    macros:{
        F: " \\mathcal{F}",
        G: " \\mathcal{G}",
        Oc: " \\mathcal{O}",
        colim: " \\mathrm{colim}",
        Hom: "\\mathrm{H}om",
           HomSh: "\\mathcal{H}om",
        Sch: "\\mathrm{S}ch",
        Ring: "\\mathrm{R}ing",
        C: "\\mathbb{C}",
        A: "\\mathbb{A}",
        Proj: "\\mathbb{P}"
        }
  },
  chtml: {
    scale: 1
  }
};
</script>

<script async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>


</head>

<body>

    <nav>
        <a href="{{ site.baseurl }}/">Home</a> |
    </nav>

    <hr>

    {{ content }}

</body>

</html>
